body {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 24px;
  color: #163152;
}

a {
  color: #163152;
  text-decoration: none;
}

.site-navigation-item a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.page-header {
  width: 1170px;
  margin: 0;
  padding: 20px 55px;
  margin-bottom: 40px;
}

.main-nav {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.logo {
  margin: 0;
  width: 64px;
}

.site-navigation {
  margin: 0;
  margin-left: auto;
  margin-right: 40px;
  width: 559px;
}

.hero h1 {
  font-size: 44px;
  line-height: 60px;
  font-style: italic;
  font-weight: normal;
  text-transform: uppercase;
}

.blog-article .time {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.blog-article h2 {
  font-size: 24px;
  line-height: 34px;
  text-decoration: underline;
  text-decoration-color: #00c6bd;
  text-decoration-thickness: 2px;
  text-underline-offset: 15px;
  text-underline-position: under;
}

.news h2 {
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #00c6bd;
  text-decoration-thickness: 2px;
  text-underline-offset: 15px;
  text-underline-position: under;
}

.news figcaption {
  font-size: 16px;
  line-height: 19px;
  color: #8693a4;
}

.news h3 {
  font-size: 22px;
  line-height: 26px;
}

.news p {
  font-size: 18px;
  line-height: 26px;
}

.news h4 {
  font-size: 20px;
  line-height: 26px;
}

.news .command-item {
  font-size: 18px;
  line-height: 26px;
}

p .line {
  text-decoration: line-through;
}

blockquote .blockquote {
  font-weight: bold;
  font-size: 26px;
  line-height: 36px;
}

blockquote cite {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  font-style: normal;
}

blockquote time {
  font-size: 16px;
  line-height: 19px;
  color: #8693a4;
}

.contacts h2 {
  font-size: 24px;
  line-height: 34px;
  text-decoration: underline;
  text-decoration-color: #00c6bd;
  text-decoration-thickness: 2px;
  text-underline-offset: 15px;
  text-underline-position: under;
}

.contacts h3 {
  font-size: 16px;
  line-height: 22px;
}

.contacts li.contact-item {
  font-size: 16px;
  line-height: 22px;
  font-style: normal;
}

address {
  font-style: normal;
}

.contacts a {
  font-size: 16px;
  line-height: 22px;
}

.main-footer h2 {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.main-footer p {
  font-size: 10px;
  line-height: 12px;
}

.footer-navigation-item a {
  font-size: 14px;
  line-height: 16px;
}
